:root {
  --color-primary: #c48eb6;
  --color-secondary: #d223db;
  --color-medium: #076e85;
  --color-dark: #361244;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(220, 167, 206, 0.562),
      rgba(211, 38, 220, 0.582)
    ),
    url("/public/backgroundImage.avif") center/cover;
  padding: 2rem 3rem;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 7rem;
  letter-spacing: 0.3rem;
  font-family: "Vujahday Script", sans-serif;
  color: var(--color-dark);
  transform: translateY(-105px);
  animation: translateTitle 1s ease forwards;
}

.container {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  grid-gap: 1rem;
  padding: 3rem;

  align-items: start;

  /* grid-gap: 1rem; */
}
.story-list {
  /* padding: 3rem; */
  height: 60rem;
  overflow: auto;
  padding-right: 1px;

  scrollbar-color: var(--color-primary) var(--color-secondary);
  scrollbar-width: thin;
  /* grid-gap: 1rem; */
}

.each-story {
  padding: 1rem 3rem;
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
  color: var(--color-dark);
  background-color: rgba(196, 142, 182, 0.5);
  border-right: 1px solid var(--color-medium);
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  box-sizing: border-box;
  transform: scaleX(0);
  transform-origin: center;
  animation: storyStretch 2s ease forwards;
  animation-delay: 0.5s;
}

.each-story h2 {
  text-align: center;
  font-family: "The Girl Next Door", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
}

.each-story p {
  font-size: 3rem;
  font-family: "Charmonman", sans-serif;
  font-weight: 500;
  color: #4a0a4e;
  letter-spacing: 2px;
  text-align: start;
}
.each-story span {
  display: block;
  text-align: end;
  font-family: "Tangerine", sans-serif;
  font-weight: 600;
}
.opened {
  background-color: rgba(196, 142, 182, 0.9);
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 46.5rem;
}
.input {
  margin-top: 3rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  background-color: #eabcdedd;
  padding: 1rem;
}
.input:focus {
  outline: 3px solid rgba(221, 142, 212, 0.8);
}

.btn-container {
  text-align: center;
  margin-top: 1rem;
}

.add-story-btn {
  width: max-content;
  padding: 1rem 2rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--color-secondary);
  color: #d2aac7;
  cursor: pointer;

  transform: scaleX(0);
  transform-origin: center;
  animation: storyStretch 1.5s ease forwards;
  animation-delay: 0.5s;
}

.form-title {
  font-size: 2rem;
  font-family: "The Girl Next Door", sans-serif;
  letter-spacing: 2px;
  font-weight: 600;
  color: #361244;
}

.form-text {
  font-size: 1.5rem;
  font-family: "Charmonman", sans-serif;
  font-weight: 600;
  color: #4a0a4e;
  letter-spacing: 1.5px;
  height: auto;
}

@keyframes translateTitle {
  from {
    transform: translateY(-105px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes storyStretch {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.story-list::-webkit-scrollbar {
  width: 12px;
}

.story-list::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 6px;
}

.story-list::-webkit-scrollbar-track {
  background-color: var(--color-primary);
}

.story-list::-webkit-scrollbar-corner {
  background-color: var(--color-primary);
}

.story-list {
  scrollbar-color: var(--color-primary) var(--color-secondary);
  scrollbar-width: thin;
}
